<div class="containerGlobal">
  <div class="containerLogin">
    <h1 class="loginTitle">Seja bem-vindo(a)</h1>
    <div class="containerInputs">
      <app-input-login placeHolder="Digite aqui seu login"></app-input-login>
      <app-input-login placeHolder="Digite aqui sua senha"></app-input-login>
      <button class="loginButton">Entrar</button>
    </div>
    <div class="containerOptions">
      <p>Esqueceu sua senha? <a href="#">Clique aqui</a></p>
      <p>Não possui uma conta ainda? <a routerLink="/register">Clique aqui</a></p>
    </div>
  </div>
  <div class="containerImage">
  </div>
</div>
